@import "tailwindcss";

@theme {
  --font-sans: "Inter Variable", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-display: "Inter", sans-serif;

  /**
	 * Neutral Colors
	 */

  /* Background colors */
  /* bg-neutral-[subtle, strong, inverse] */
  --background-color-neutral: #fcfcfc;
  --background-color-neutral-subtle: #f8f8f8;
  --background-color-neutral-strong: #f3f3f3;
  --background-color-neutral-inverse: var(--color-neutral-900);

  /* Surface colors */
  /* bg-surface-[subtle, strong] */
  --background-color-surface: var(--color-white);
  --background-color-surface-weak: var(--color-neutral-50);
  --background-color-surface-subtle: var(--color-neutral-100);
  --background-color-surface-strong: #ececec;

  /* Content colors */
  --text-color-neutral: var(--color-neutral-700);
  --text-color-neutral-weak: var(--color-neutral-400);
  --text-color-neutral-subtle: var(--color-neutral-500);
  --text-color-neutral-strong: var(--color-neutral-900);
  --text-color-neutral-inverse: var(--color-white);
  --text-color-neutral-inverse-subtle: var(--color-neutral-300);

  /* Stroke colors */
  --border-color-neutral: var(--color-neutral-200);
  --border-color-neutral-subtle: var(--color-neutral-100);
  --border-color-neutral-strong: var(--color-neutral-950);

  /**
	 * Accent Colors
	 */

  --background-color-accent: var(--color-blue-500);
  --background-color-accent-subtle: var(--color-blue-50);
  --background-color-accent-strong: var(--color-blue-600);
  --background-color-accent-inverse: var(--color-white);
  --background-color-accent-hover: var(--color-blue-700);

  --text-color-accent: var(--color-blue-500);
  --text-color-accent-onsurface: var(--color-white);
  --text-color-accent-subtle: var(--color-blue-400);
  --text-color-accent-muted: var(--color-blue-300);
  --text-color-accent-inverse: var(--color-white);

  --border-color-accent: var(--color-blue-200);
  --border-color-accent-subtle: var(--color-blue-100);
  --border-color-accent-strong: var(--color-blue-300);
  --border-color-accent-hover: var(--color-blue-300);

  /**
	 * Danger Colors
	 */

  --background-color-danger: var(--color-red-600);
  --background-color-danger-subtle: var(--color-red-50);
  --background-color-danger-strong: var(--color-red-700);
  --background-color-danger-inverse: var(--color-white);
  --background-color-danger-hover: var(--color-red-700);

  --text-color-danger: var(--color-red-600);
  --text-color-danger-onsurface: var(--color-white);
  --text-color-danger-subtle: var(--color-red-400);
  --text-color-danger-muted: var(--color-red-300);
  --text-color-danger-inverse: var(--color-white);

  --border-color-danger: var(--color-red-200);
  --border-color-danger-subtle: var(--color-red-100);
  --border-color-danger-strong: var(--color-red-500);
  --border-color-danger-hover: var(--color-red-300);

  /**
	 * Warning Colors
	 */

  --background-color-warn: var(--color-amber-500);
  --background-color-warn-subtle: var(--color-amber-50);
  --background-color-warn-strong: var(--color-amber-700);
  --background-color-warn-inverse: var(--color-white);
  --background-color-warn-hover: var(--color-amber-600);

  --text-color-warn: var(--color-amber-950);
  --text-color-warn-onsurface: var(--color-black);
  --text-color-warn-subtle: var(--color-amber-400);
  --text-color-warn-muted: var(--color-amber-300);
  --text-color-warn-inverse: var(--color-white);

  --border-color-warn: var(--color-amber-200);
  --border-color-warn-subtle: var(--color-amber-100);
  --border-color-warn-strong: var(--color-amber-300);
  --border-color-warn-hover: var(--color-amber-300);

  /**
	* Success Colors
	*/

  --background-color-success: var(--color-blue-600);
  --background-color-success-subtle: var(--color-blue-50);
  --background-color-success-strong: var(--color-blue-700);
  --background-color-success-inverse: var(--color-white);
  --background-color-success-hover: var(--color-blue-700);

  --text-color-success: var(--color-blue-600);
  --text-color-success-onsurface: var(--color-white);
  --text-color-success-subtle: var(--color-blue-400);
  --text-color-success-muted: var(--color-blue-300);
  --text-color-success-inverse: var(--color-white);

  --border-color-success: var(--color-blue-200);
  --border-color-success-subtle: var(--color-blue-100);
  --border-color-success-strong: var(--color-blue-600);
  --border-color-success-hover: var(--color-blue-300);

  /**
   * Typography
   */
  /* Titles */
  --text-title-lg: var(--text-5xl);
  --text-title-lg--font-weight: 400;

  --text-title: var(--text-4xl);
  --text-title--font-weight: 400;

  --text-title-md: var(--text-2xl);
  --text-title-md--font-weight: 400;

  --text-title-sm: var(--text-xl);
  --text-title-sm--font-weight: 400;

  --text-copy-xl: var(--text-lg);
  --text-copy-xl--font-weight: 400;

  --text-copy-lg: var(--text-base);
  --text-copy-lg--font-weight: 400;

  --text-copy: var(--text-sm);
  --text-copy--font-weight: 400;

  --text-copy-sm: var(--text-xs);
  --text-copy-sm--font-weight: 400;
  --text-copy-sm--line-height: 1.1rem;

  --text-copy-xs: 0.625rem;
  --text-copy-xs--font-weight: 400;

  /* Labels */
  --text-label: var(--text-sm);
  --text-label--font-weight: 500;

  /**
   * Shadows
   */
  --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.04);

  --shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.04), 0 8px 8px -8px rgba(0, 0, 0, 0.04);

  --shadow-md: 0 2px 2px 0 rgba(0, 0, 0, 0.04), 0 8px 16px -4px rgba(0, 0, 0, 0.04);

  --shadow-lg: 0 1px 1px 0 rgba(0, 0, 0, 0.02), 0 4px 8px 0 rgba(0, 0, 0, 0.04);

  --shadow-xl:
    0 1px 1px 0 rgba(0, 0, 0, 0.02), 0 4px 8px -4px rgba(0, 0, 0, 0.04),
    0 16px 24px -8px rgba(0, 0, 0, 0.06);

  --shadow-2xl:
    0 1px 1px 0 rgba(0, 0, 0, 0.02), 0 8px 16px -4px rgba(0, 0, 0, 0.04),
    0 24px 32px -8px rgba(0, 0, 0, 0.06);

  /**
    * Easing Functions
    */
  --ease-in-quad: cubic-bezier(0.55, 0.085, 0.68, 0.53);
  --ease-in-cubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  --ease-in-quart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
  --ease-in-quint: cubic-bezier(0.755, 0.05, 0.855, 0.06);
  --ease-in-expo: cubic-bezier(0.95, 0.05, 0.795, 0.035);
  --ease-in-circ: cubic-bezier(0.6, 0.04, 0.98, 0.335);

  --ease-out-quad: cubic-bezier(0.25, 0.46, 0.45, 0.94);
  --ease-out-cubic: cubic-bezier(0.215, 0.61, 0.355, 1);
  --ease-out-quart: cubic-bezier(0.165, 0.84, 0.44, 1);
  --ease-out-quint: cubic-bezier(0.23, 1, 0.32, 1);
  --ease-out-expo: cubic-bezier(0.19, 1, 0.22, 1);
  --ease-out-circ: cubic-bezier(0.075, 0.82, 0.165, 1);

  --ease-in-out-quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  --ease-in-out-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);
  --ease-in-out-quart: cubic-bezier(0.77, 0, 0.175, 1);
  --ease-in-out-quint: cubic-bezier(0.86, 0, 0.07, 1);
  --ease-in-out-expo: cubic-bezier(1, 0, 0, 1);
  --ease-in-out-circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);

  /* Animations */
  --animate-overlayShow: overlayShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-contentShow: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-fade-in-from-top: fade-in-from-top 150ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-fade-out: fade-out 250ms cubic-bezier(0.16, 1, 0.3, 1);

  --animate-toast-hide: hide 300ms ease-in;
  --animate-toast-slide-in: slideIn 300ms cubic-bezier(0.16, 1, 0.3, 1);
  --animate-toast-swipe-out: swipeOut 100ms ease-out;

  /* Toast */
  @keyframes hide {
    from {
      opacity: 1;
      scale: 1;
    }
    to {
      opacity: 0;
      scale: 0.8;
    }
  }

  @keyframes slideIn {
    from {
      transform: translateY(calc(100% + 50px));
    }
    to {
      transform: translateX(0);
    }
  }

  @keyframes swipeOut {
    from {
      transform: translateX(var(--reka-toast-swipe-end-x));
    }
    to {
      transform: translateX(calc(100% + var(--viewport-padding)));
    }
  }

  @keyframes overlayShow {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes contentShow {
    from {
      opacity: 0;
      scale: 0.96;
    }
    to {
      opacity: 1;
      scale: 1;
    }
  }

  @keyframes fade-in-from-top {
    from {
      opacity: 0;
      transform: scale(0.96) translateY(-10px);
    }
    to {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }

  @keyframes fade-out {
    from {
      opacity: 1;
      scale: 1;
    }
    to {
      opacity: 0;
      scale: 0.98;
    }
  }
}

/* base */

html,
body,
#__nuxt {
  min-height: 100%;
}
